'.php':
  'Codeigniter4 Controller':
    'prefix':'ci4-c'
    'body': '''
    <?php namespace App\\\\Controllers;

    /**
     * ${1:ControllerName}.
     *
     * @package App\\\\Controllers
     * @author
     * @since   Version
     * @filesource
     */
    use CodeIgniter\\\\Controller;

    /**
     *
     */
    class ${1:ControllerName} extends Controller
    {
        /**
         *
         */
        public function ${2:FuncName}()
        {
            //
        }

        //--------------------------------------------------------------------

    }


    /* End of file ${1:ControllerName}.php */
    /* Location: ./application/Controllers/${1:ControllerName}.php */
    '''
